@import url("https://fonts.googleapis.com/css2?family=family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap");
body {
  display: flex;
  justify-content: center;
  margin: 1px;
  background-image: url(../imagenes/pexels-inga-seliverstova-4304748.jpg); }

nav {
  grid-area: nav;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 60%, transparent 85%, #242424 75%, #242424);
  background-color: #252323;
  background-size: 20px 20px;
  padding: 3px;
  position: static;
  top: 15px;
  max-width: 100%;
  left: 15%; }

#menu {
  position: static;
  display: none;
  font-size: 16px;
  padding: 15px;
  margin-left: 30px;
  margin-top: 6px; }
  #menu li {
    margin-bottom: 5px; }
    #menu li a {
      padding: 10px;
      margin: 2px;
      color: white;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #menu li a:hover {
        background: none;
        color: #6ab1c9; }

.navegacion ul, li a {
  list-style: none;
  text-decoration: none; }

.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 60%, transparent 85%, #242424 75%, #242424);
  background-color: #252323;
  background-size: 20px 20px;
  text-align: center;
  padding: 10px 0;
  display: block;
  transition: all 0.5s ease;
  margin-top: 6px; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ #menu {
  display: block; }

header {
  grid-area: header;
  max-width: 1440px;
  background-color: rgba(209, 224, 243, 0.993); }

.encabezado {
  display: flex;
  flex-direction: column; }
  .encabezado #logo {
    display: flex;
    justify-content: center; }
    .encabezado #logo #fotologo {
      width: 55%;
      object-fit: cover; }
  .encabezado #texto {
    display: flex;
    flex-direction: column;
    padding: 2px;
    color: #1561b8;
    justify-content: space-around;
    align-items: center; }
    .encabezado #texto h1 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 200;
      font-size: 22px;
      padding: 10px;
      margin: 0px; }
    .encabezado #texto h2 {
      font-family: cursive;
      font-weight: 200;
      font-size: 18px;
      font-style: italic;
      padding: 10px;
      margin: 0px;
      color: black; }

.redes_sociales_header {
  grid-area: redes;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .redes_sociales_header a {
    padding: 20px;
    color: black; }
    .redes_sociales_header a i {
      width: 25px;
      height: 25px; }

footer {
  grid-area: footer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(209, 224, 243, 0.993);
  max-width: 1440px; }

#nosotros {
  color: black;
  padding: 5px;
  margin: 5px;
  height: 230px;
  border-top: solid 3px black; }
  #nosotros #informacion {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center; }

#boton {
  position: relative;
  left: 30%;
  background-color: darkgrey;
  border-radius: 30%;
  padding: 15px; }
  #boton a {
    list-style: none;
    text-decoration: none;
    color: white;
    justify-content: center; }

.enlaces_redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
  height: 230px;
  border-top: solid 3px black; }
  .enlaces_redes #menu3, .enlaces_redes .redes_sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin: 15px; }
    .enlaces_redes #menu3 h5, .enlaces_redes .redes_sociales h5 {
      margin: 2px;
      font-size: 12px; }
    .enlaces_redes #menu3 ul, .enlaces_redes .redes_sociales ul {
      padding: 5px;
      margin: 5px; }
      .enlaces_redes #menu3 ul li, .enlaces_redes .redes_sociales ul li {
        list-style: none;
        padding: 5px;
        margin: 1px;
        font-size: 10px; }
        .enlaces_redes #menu3 ul li:hover, .enlaces_redes .redes_sociales ul li:hover {
          background: darkgray; }
        .enlaces_redes #menu3 ul li a, .enlaces_redes .redes_sociales ul li a {
          color: black;
          text-decoration: none; }
          .enlaces_redes #menu3 ul li a:hover, .enlaces_redes .redes_sociales ul li a:hover {
            color: white; }
  .enlaces_redes .redes_sociales h5 {
    margin: 2px;
    font-size: 12px; }
  .enlaces_redes .redes_sociales a {
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 2px;
    font-size: 10px;
    margin: 3px; }
    .enlaces_redes .redes_sociales a i {
      padding: 5px;
      margin: 1px;
      font-size: 12px; }

#medios {
  border-top: solid 3px black;
  height: 230px;
  padding: 5px;
  margin: 5px; }
  #medios #mapa {
    justify-content: center;
    padding: 10px;
    border: 5px;
    margin: 10px;
    width: 90%; }

.index {
  background-image: url(../imagenes/pexels-henry-&-co-1939485.jpg); }

.grillasindex {
  display: flex;
  flex-direction: column;
  max-width: 1024px; }

.principal {
  grid-area: principal;
  max-width: 1024px;
  padding: 1px;
  margin: 3px;
  box-sizing: border-box; }
  .principal .frases {
    overflow: hidden;
    align-items: center; }
    .principal .frases ul {
      display: flex;
      padding: 5px;
      width: 405%;
      animation: slide 80s infinite alternate ease-in-out; }
      .principal .frases ul li {
        list-style: none;
        margin: 8px; }
        .principal .frases ul li img {
          object-fit: contain;
          width: 100%; }

@keyframes slide {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  40% {
    margin-left: -100%; }
  45% {
    margin-left: -200%; }
  60% {
    margin-left: -200%; }
  65% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.contenedor_servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .contenedor_servicios .menu_servicios_index h4 {
    display: flex;
    justify-content: center;
    font-family: Reenie Beanie, cursive;
    font-size: 35px;
    margin: 2px; }
  .contenedor_servicios .menu_servicios_index #listado_menu_servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    margin: 5px;
    list-style: none; }
    .contenedor_servicios .menu_servicios_index #listado_menu_servicios li {
      position: relative;
      padding: 10px; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios li #notarial_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(blue, red);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios li #contable_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, blue);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        left: 60px; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios li #impuestos_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(rgba(13, 95, 38, 0.616), blue);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios li #rrhh_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, #918f14);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios li #payroll_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, #1bc763, #c9ad12);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
  .contenedor_servicios .detalle_servicios_index {
    list-style: none;
    margin: 5px;
    max-width: 95%;
    height: 700px;
    padding: 2px;
    width: 100%; }
    .contenedor_servicios .detalle_servicios_index li {
      position: absolute;
      opacity: 0;
      max-width: inherit;
      max-height: inherit;
      background-color: white;
      transition: opacity 0.5s; }
      .contenedor_servicios .detalle_servicios_index li:first-child {
        opacity: 1; }
      .contenedor_servicios .detalle_servicios_index li:target {
        opacity: 1; }
      .contenedor_servicios .detalle_servicios_index li h3 {
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        display: flex;
        text-decoration: underline;
        justify-content: center;
        margin: 2px;
        margin-top: 4px; }
      .contenedor_servicios .detalle_servicios_index li p {
        margin: 5px;
        font-family: Bai Jamjuree, sons-serif; }

#hr_main_servicios {
  border: 0;
  height: 5px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(left, #fff, #163ab1, #fff);
  text-align: center;
  max-width: 90%; }

#hr_servicios_noticias {
  border: 0;
  height: 5px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(left, #fff, #163ab1, #fff);
  text-align: center;
  max-width: 90%; }

#hr_servicios {
  border: 0;
  height: 5px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(left, #fff, #163ab1, #fff);
  text-align: center;
  max-width: 90%; }

.not_index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .not_index .titular {
    height: 50px; }
    .not_index .titular .titular_noticias {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .not_index .titular .titular_noticias h4 {
        font-size: 20px;
        font-family: Merienda, cursive;
        text-decoration: none;
        margin: 3px;
        padding: 3px; }
      .not_index .titular .titular_noticias hr {
        border: 0;
        height: 5px;
        margin-top: 20px;
        background-image: -webkit-linear-gradient(left, #fff, #163ab1, #fff);
        text-align: center;
        max-width: 90%;
        padding: 1px;
        margin: 1px; }
  .not_index .noticia_grid .secundario {
    margin: 3px;
    height: 300px;
    background-size: cover;
    max-width: 1440px;
    width: 95%;
    height: 170px;
    overflow: hidden;
    background-image: url(../imagenes/elon.jpg); }
    .not_index .noticia_grid .secundario .content_index {
      position: relative;
      top: 115px;
      padding: 10px;
      height: 97px;
      background-color: white;
      transition-property: initial;
      transition-duration: 1s; }
      .not_index .noticia_grid .secundario .content_index .autor {
        font-size: 8px;
        padding: 3px;
        margin: 8px;
        justify-items: left; }
      .not_index .noticia_grid .secundario .content_index .title {
        font-family: sans-serif;
        font-weight: 300;
        margin-top: 10px;
        font-size: 13px; }
      .not_index .noticia_grid .secundario .content_index .text {
        font-size: 10px;
        margin: 0px;
        color: black; }
      .not_index .noticia_grid .secundario .content_index .button_index {
        display: flex;
        justify-content: right;
        padding: 2px;
        margin: 2px;
        font-size: 10px;
        text-decoration: underline;
        list-style: none;
        color: red; }
  .not_index .noticia_grid .secundario2 {
    margin: 3px;
    height: 300px;
    background-size: cover;
    max-width: 1440px;
    width: 95%;
    height: 170px;
    overflow: hidden;
    background-image: url(../imagenes/Nuestros-servicios.jpg); }
    .not_index .noticia_grid .secundario2 .content_index {
      position: relative;
      top: 115px;
      padding: 10px;
      height: 97px;
      background-color: white;
      transition-property: initial;
      transition-duration: 1s; }
      .not_index .noticia_grid .secundario2 .content_index .autor {
        font-size: 8px;
        padding: 3px;
        margin: 8px;
        justify-items: left; }
      .not_index .noticia_grid .secundario2 .content_index .title {
        font-family: sans-serif;
        font-weight: 300;
        margin-top: 10px;
        font-size: 13px; }
      .not_index .noticia_grid .secundario2 .content_index .text {
        font-size: 10px;
        margin: 0px;
        color: black; }
      .not_index .noticia_grid .secundario2 .content_index .button_index {
        display: flex;
        justify-content: right;
        padding: 2px;
        margin: 2px;
        font-size: 10px;
        text-decoration: underline;
        list-style: none;
        color: red; }

.texto_desz:hover .content_index {
  transform: translateY(-40px); }
  .texto_desz:hover .content_index .content_index {
    transform: translateY(40px); }

::after.texto_desz:hover .content_index {
  transform: translateY(40px); }

.tabla_cotizacion #tabla {
  display: none; }

.link_interes {
  display: none; }

.tablas {
  display: none; }

.prueba_contenedor {
  display: grid;
  grid-template-areas: "menu servicio";
  grid-template-columns: 20% auto;
  max-width: 768px;
  height: 450px;
  background-color: beige; }

.prueba_menu_servicios_index {
  grid-area: menu;
  padding: 2px;
  display: flex;
  flex-direction: column;
  border-right: solid 3px;
  border-right-color: #160202; }
  .prueba_menu_servicios_index h4 {
    display: flex;
    justify-content: center;
    font-family: Reenie Beanie, cursive;
    font-size: 35px;
    margin-bottom: 5px;
    text-decoration: underline; }
  .prueba_menu_servicios_index #prueba_listado_menu_servicios {
    padding: 15px;
    margin: 5px;
    list-style: none; }
    .prueba_menu_servicios_index #prueba_listado_menu_servicios li {
      position: relative;
      padding: 10px; }
      .prueba_menu_servicios_index #prueba_listado_menu_servicios li #prueba_notarial_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(blue, red);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .prueba_menu_servicios_index #prueba_listado_menu_servicios li #prueba_contable_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, blue);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        left: 60px; }
      .prueba_menu_servicios_index #prueba_listado_menu_servicios li #prueba_impuestos_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(rgba(13, 95, 38, 0.616), blue);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .prueba_menu_servicios_index #prueba_listado_menu_servicios li #prueba_rrhh_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, #918f14);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      .prueba_menu_servicios_index #prueba_listado_menu_servicios li #prueba_payroll_i {
        color: black;
        text-decoration: none;
        font-family: Reenie Beanie, cursive;
        padding: 10px;
        width: 80px;
        height: 12px;
        font-size: 25px;
        background: -webkit-linear-gradient(black, #1bc763, #c9ad12);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }

.prueba_menu_detalle_servicios_index {
  grid-area: servicio;
  margin: 5px;
  padding: 2px; }
  .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index {
    max-width: 500px;
    list-style: none; }
    .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index li {
      position: absolute;
      opacity: 0;
      max-width: inherit;
      background-color: white;
      transition: opacity 0.5s; }
      .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index li:first-child {
        opacity: 1; }
      .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index li:target {
        opacity: 1; }
      .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index li h3 {
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        text-decoration: underline;
        margin: 2px;
        margin-top: 4px; }
      .prueba_menu_detalle_servicios_index .prueba_detalle_servicios_index li p {
        margin: 5px;
        font-family: Bai Jamjuree, sons-serif; }

.grillanoticias {
  display: grid;
  grid-template-areas: "header  " "nav " "aside " "not_1" "footer ";
  max-width: 320px;
  justify-content: center;
  margin: 0px;
  background-image: url(../imagenes/dirty-pattern-paint-room-blockv2.jpg); }

aside {
  grid-area: aside;
  max-width: 320px; }

.menu_noticias {
  background-color: rgba(5, 3, 29, 0.24);
  max-width: 100%;
  top: 90px;
  border: 10px; }
  .menu_noticias #titulo_aside {
    font-size: 24px;
    text-decoration: underline;
    color: white;
    position: relative;
    left: 20%; }
  .menu_noticias #listado_noticias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px; }
    .menu_noticias #listado_noticias li {
      list-style: none;
      text-decoration: none;
      padding: 5px; }
      .menu_noticias #listado_noticias li a {
        color: black; }

/* Seccion de Noticias */
#not_1 {
  grid-area: not_1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 320px; }
  #not_1 .card2 {
    margin: 3px;
    padding: 3px; }
    #not_1 .card2 .data_foto {
      display: flex;
      justify-content: center;
      padding: 0px;
      max-width: 320px;
      max-height: 180px; }
      #not_1 .card2 .data_foto img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%; }
  #not_1 .data {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    max-width: 320px; }
    #not_1 .data .content {
      color: black; }
      #not_1 .data .content .author {
        font-size: 8px;
        padding: 3px;
        margin: 8px;
        justify-items: left; }
      #not_1 .data .content .title {
        font-family: sans-serif;
        font-weight: 300;
        margin-top: 10px;
        font-size: 13px; }
      #not_1 .data .content .text {
        font-size: 10px;
        margin: 0px;
        color: black; }
      #not_1 .data .content .button {
        display: flex;
        justify-content: right;
        padding: 2px;
        margin: 2px;
        font-size: 10px;
        text-decoration: underline;
        list-style: none;
        color: red; }

.grillanosotros {
  background-image: url(../imagenes/pexels-karolina-grabowska-4709425.jpg);
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  max-width: 1024px;
  margin: 0px;
  gap: 1px; }

main {
  grid-area: main; }
  main .miviva {
    margin-bottom: 15px; }
    main .miviva section .mensaje {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3px;
      margin: 5px; }
      main .miviva section .mensaje h2 {
        font-size: 25px;
        font-weight: bold;
        font-family: Merienda, cursive;
        text-decoration: underline; }
      main .miviva section .mensaje p {
        font-size: 15px;
        font-weight: 200;
        font-style: italic;
        font-family: DM Sans, sans-serif;
        text-align: justify; }
  main .cv_nosotros {
    display: flex;
    flex-direction: column; }
    main .cv_nosotros .ana, main .cv_nosotros .mario {
      display: flex;
      flex-direction: row;
      max-width: 95%;
      margin-top: 10px; }
      main .cv_nosotros .ana img, main .cv_nosotros .mario img {
        width: 50%;
        margin-right: 3px; }
      main .cv_nosotros .ana .cv, main .cv_nosotros .mario .cv {
        width: 50%; }
        main .cv_nosotros .ana .cv h3, main .cv_nosotros .mario .cv h3 {
          position: relative;
          left: 6%;
          text-decoration: underline;
          font-size: 16px;
          font-family: Bai Jamjuree, sons-serif;
          font-weight: bold; }
        main .cv_nosotros .ana .cv p, main .cv_nosotros .mario .cv p {
          font-weight: 400;
          font-size: 10px;
          font-family: DM Sans, sans-serif;
          text-align: justify; }

hr {
  border: 0;
  height: 5px;
  margin-top: 20px;
  background-image: -webkit-linear-gradient(left, #fff, #163ab1, #fff);
  text-align: center;
  max-width: 90%; }

.grilla_noticias_1 {
  display: grid;
  grid-template-areas: "header header " "nav nav " "informe informe" "footer footer ";
  grid-template-columns: 30% 70%;
  max-width: 1200px;
  background-color: antiquewhite;
  justify-content: center;
  margin: 0px; }

.cuerpo_noticias {
  grid-area: informe;
  box-sizing: content-box;
  margin: 15px;
  padding: 15px; }
  .cuerpo_noticias .informe_texto {
    padding: 80px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: justify; }

#detalle_liq {
  display: flex;
  flex-direction: column;
  padding: 15px; }
  #detalle_liq p {
    margin: 1px; }

.grillacontacto {
  display: grid;
  grid-template-areas: "header" "nav" "form" "footer";
  background-color: antiquewhite;
  max-width: 320px;
  margin: 0px;
  gap: 1px; }

.formulario {
  grid-area: form;
  background-image: url(../imagenes/894.jpg);
  background-size: cover;
  width: 100%; }

.formulario_contacto {
  display: flex;
  flex-direction: column; }
  .formulario_contacto #formulario_cuerpo {
    background-color: transparent;
    padding: 5px;
    margin-bottom: 50px;
    margin-top: 20px;
    box-sizing: border-box; }
    .formulario_contacto #formulario_cuerpo .titulo_formulario {
      text-align: center;
      font-size: 20px;
      color: black; }

.datos {
  border-bottom: 2px solid #800808;
  margin: 0;
  padding: 0; }

#nombre, #mail, #celular {
  border: none; }

#enviar {
  justify-content: center; }
  #enviar .btn {
    border-radius: 8px;
    padding: 10px 5px;
    margin: 5px;
    width: 95%;
    align-items: center;
    background-color: none;
    --color: rgb(194, 19, 19);
    --hover: #110f8f;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s; }
    #enviar .btn:hover, #enviar .btn:focus {
      box-shadow: inset 0 0 0 2em var(--hover);
      border-color: var(--hover);
      color: #236edf; }

#contactos {
  padding: 30px;
  margin-right: 15%;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 10%;
  box-sizing: border-box; }
  #contactos p {
    font-size: 20px;
    font-weight: 300;
    color: black; }

#mensaje {
  width: 300px;
  height: 300px;
  margin: 1px; }

#titulo_contacto {
  font-size: 25px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique; }

@media screen and (min-width: 375px) {
  aside {
    max-width: 375px; }
  .grillanoticias {
    max-width: 375px; }
  #mensaje {
    width: 355px; }
  .grillacontacto {
    max-width: 375px; }
  .menu_noticias {
    display: none; } }

@media screen and (min-width: 425px) {
  aside {
    max-width: 425px; }
  .grillanoticias {
    max-width: 425px; }
  .grillacontacto {
    max-width: 425px; }
  /* Noticias */
  .cuerpo_noticias {
    margin: 2px;
    padding: 2px; }
    .cuerpo_noticias .informe_texto {
      padding: 3px;
      font-size: 8px;
      font-weight: 100; }
    .cuerpo_noticias #detalle_liq {
      padding: 15px; }
  /* formulario */
  #mensaje {
    width: 400px; }
  #titulo_contacto {
    font-size: 18px;
    font-weight: 300;
    color: whITE;
    margin: 0; }
  #contactos {
    padding: 15px; }
    #contactos p {
      font-size: 16px;
      font-weight: 200;
      color: white; }
  /* footer */
  footer {
    display: inline-block; }
  #not_1 {
    max-width: 425px; }
    #not_1 .card2 .data_foto {
      max-width: 425px;
      max-height: 300px; }
    #not_1 .card2 .data {
      max-width: 425px; } }

@media screen and (min-width: 768px) {
  .grillacontacto {
    max-width: 768px; }
  /*Footer */
  footer {
    display: flex;
    flex-direction: row; }
    footer #nosotros {
      width: 300px; }
      footer #nosotros #boton {
        top: 10px; }
    footer .enlaces_redes #menu3, footer .enlaces_redes .redes_sociales {
      margin: 5px; }
    footer .enlaces_redes .redes_sociales {
      margin: 5px; }
    footer .enlaces_redes #mapa {
      width: 80%; }
  /* Encabezado */
  .encabezado {
    flex-direction: row; }
    .encabezado #logo #fotologo {
      width: 110%;
      object-fit: contain; }
    .encabezado .redes_sociales_header {
      justify-content: end;
      align-items: flex-end; }
    .encabezado #texto h1 {
      display: none; }
    .encabezado #texto h2 {
      font-weight: 400;
      font-size: 20px; }
  .redes_sociales_header a {
    padding: 2px; }
    .redes_sociales_header a i {
      width: 60px;
      height: 60px; }
  /* Navegador */
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 3px;
    /*Oculta el checkbox */ }
    #menu input[type=checkbox] {
      display: none; }
  /* Formulario */
  .formulario_contacto {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around; }
    .formulario_contacto #mensaje {
      width: 300px;
      height: 200px;
      margin: 10px; }
    .formulario_contacto #titulo_contacto {
      font-size: 18px;
      font-weight: 300; }
    .formulario_contacto #contactos h5 {
      color: black; }
    .formulario_contacto #contactos p {
      color: black; }
  .show-menu {
    display: none; }
  /*Nosotros*/
  main {
    max-width: 95%; }
    main .miviva {
      margin-bottom: 25px; }
      main .miviva section .mensaje h2 {
        font-size: 45px;
        font-weight: 500; }
      main .miviva section .mensaje p {
        font-size: 20px;
        font-weight: 400; }
    main .cv_nosotros {
      flex-direction: row; }
      main .cv_nosotros .ana, main .cv_nosotros .mario {
        max-width: 45%; }
        main .cv_nosotros .ana .cv, main .cv_nosotros .mario .cv {
          align-items: center; }
          main .cv_nosotros .ana .cv h3, main .cv_nosotros .mario .cv h3 {
            font-size: 20px;
            font-weight: 500; }
  .grillanoticias {
    grid-template-areas: "header header" "nav nav" "aside not_1" "aside not_1" "footer footer";
    grid-template-columns: 30% auto;
    max-width: 768px; }
  aside {
    max-width: 95%;
    margin: 5px; }
    aside .menu_noticias {
      display: flex;
      flex-direction: column;
      position: sticky; }
      aside .menu_noticias #titulo_aside {
        left: 5%; }
      aside .menu_noticias #listado_noticias {
        flex-direction: column; }
  #not_1 .card2 .data_foto {
    display: flex;
    justify-content: center;
    padding: 0px; }
    #not_1 .card2 .data_foto img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%; }
  .data {
    max-width: 95%; }
  .grillasindex {
    display: grid;
    grid-template-areas: "header header  " "nav nav" "principal tabla " "servicio servicio" "noticias noticias" "footer footer";
    grid-template-columns: 60% 40%; }
  .contenedor_servicios {
    grid-area: servicio;
    display: grid;
    grid-template-areas: "menu servicio";
    grid-template-columns: 20% auto;
    height: 450px;
    background-color: beige; }
    .contenedor_servicios .menu_servicios_index {
      grid-area: menu;
      padding: 2px;
      display: flex;
      flex-direction: column; }
      .contenedor_servicios .menu_servicios_index h4 {
        margin-bottom: 5px;
        text-decoration: underline; }
      .contenedor_servicios .menu_servicios_index #listado_menu_servicios {
        border-right: solid 3px;
        border-right-color: #160202; }
    .contenedor_servicios .menu_detalle_servicios_index {
      grid-area: servicio;
      margin: 5px;
      padding: 2px; }
      .contenedor_servicios .menu_detalle_servicios_index .detalle_servicios_index {
        max-width: 500px; }
        .contenedor_servicios .menu_detalle_servicios_index .detalle_servicios_index li h3 {
          justify-content: space-around; }
  #hr_servicios {
    display: none; }
  .not_index {
    grid-area: noticias;
    display: grid;
    grid-template-areas: "titulo titulo" "noticias_1 noticias_1"; }
    .not_index .titular {
      grid-area: titulo; }
    .not_index .noticia_grid {
      grid-area: noticias_1;
      display: flex;
      flex-direction: row;
      height: 170px; }
      .not_index .noticia_grid .secundario {
        margin: 3px;
        background-size: cover;
        max-width: 1440px;
        width: 95%;
        overflow: hidden;
        background-image: url(../imagenes/elon.jpg); }
        .not_index .noticia_grid .secundario .content_index {
          position: relative;
          top: 120px;
          padding: 10px;
          height: 97px;
          background-color: white;
          transition-property: initial;
          transition-duration: 1s; }
          .not_index .noticia_grid .secundario .content_index .autor {
            font-size: 8px;
            padding: 3px;
            margin: 8px;
            justify-items: left; }
          .not_index .noticia_grid .secundario .content_index .title {
            font-family: sans-serif;
            font-weight: 300;
            margin-top: 10px;
            font-size: 13px; }
          .not_index .noticia_grid .secundario .content_index .text {
            font-size: 10px;
            margin: 0px;
            color: black; }
          .not_index .noticia_grid .secundario .content_index .button_index {
            display: flex;
            justify-content: right;
            padding: 2px;
            margin: 2px;
            font-size: 10px;
            text-decoration: underline;
            list-style: none;
            color: red; }
      .not_index .noticia_grid .secundario2 {
        margin: 3px;
        background-size: cover;
        max-width: 1440px;
        width: 95%;
        overflow: hidden;
        background-image: url(../imagenes/Nuestros-servicios.jpg); }
        .not_index .noticia_grid .secundario2 .content_index {
          position: relative;
          top: 120px;
          padding: 10px;
          height: 97px;
          background-color: white;
          transition-property: initial;
          transition-duration: 1s; }
          .not_index .noticia_grid .secundario2 .content_index .autor {
            font-size: 8px;
            padding: 3px;
            margin: 8px;
            justify-items: left; }
          .not_index .noticia_grid .secundario2 .content_index .title {
            font-family: sans-serif;
            font-weight: 300;
            margin-top: 10px;
            font-size: 13px; }
          .not_index .noticia_grid .secundario2 .content_index .text {
            font-size: 10px;
            margin: 0px;
            color: black; }
          .not_index .noticia_grid .secundario2 .content_index .button_index {
            display: flex;
            justify-content: right;
            padding: 2px;
            margin: 2px;
            font-size: 10px;
            text-decoration: underline;
            list-style: none;
            color: red; }
  .texto_desz:hover .content_index {
    transform: translateY(-37px); }
    .texto_desz:hover .content_index .content_index {
      transform: translateY(37px); }
  ::after.texto_desz:hover .content_index {
    transform: translateY(37px); }
  .tablas {
    display: block;
    grid-area: tabla; }
    .tablas #tabla {
      table-layout: fixed;
      border-collapse: collapse;
      background-color: white;
      display: block;
      width: 95%;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 5px; }
      .tablas #tabla thead th:nth-child(1) {
        width: 105px; }
      .tablas #tabla thead th:nth-child(2) {
        width: 90px; }
      .tablas #tabla thead th:nth-child(3) {
        width: 90px; }
      .tablas #tabla tbody tr:nth-child(odd) {
        background-color: #b4cbe6; }
      .tablas #tabla tbody tr:nth-child(even) {
        background-color: beige; }
      .tablas #tabla thead tr {
        background-color: whitesmoke; }
      .tablas #tabla #titulo_tabla {
        display: flex;
        justify-content: center; }
      .tablas #tabla th {
        padding: 3px; }
      .tablas #tabla td {
        padding: 3px; }
    .tablas #tabla_1 {
      display: none;
      visibility: hidden; }
    .tablas #tabla_2 {
      display: none;
      visibility: hidden; } }

@media screen and (min-width: 1024px) {
  .grillacontacto {
    max-width: 1024px; }
  .grillanoticias {
    max-width: 1024px; }
  aside {
    max-width: 95%;
    margin: 5px; }
    aside .menu_noticias {
      display: flex;
      flex-direction: column;
      position: sticky; }
      aside .menu_noticias #titulo_aside {
        left: 5%; }
      aside .menu_noticias #listado_noticias {
        flex-direction: column; }
  #not_1 {
    max-width: 600px; }
    #not_1 .card2 {
      max-width: 600px; }
      #not_1 .card2 .data_foto {
        max-width: 600px;
        max-height: fit-content; }
        #not_1 .card2 .data_foto img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%; }
      #not_1 .card2 .data {
        max-width: 600px; }
  footer {
    display: flex;
    flex-direction: row; }
    footer #nosotros {
      width: 300px; }
      footer #nosotros #boton {
        top: 10px; }
    footer .enlaces_redes #menu3, footer .enlaces_redes .redes_sociales {
      margin: 5px; }
    footer .enlaces_redes .redes_sociales {
      margin: 5px; }
      footer .enlaces_redes .redes_sociales h5 {
        font-size: 12px; }
    footer .enlaces_redes #mapa {
      width: 100%; }
  .encabezado {
    flex-direction: row; }
    .encabezado #logo #fotologo {
      width: 100%;
      object-fit: contain; }
    .encabezado .redes_sociales_header {
      justify-content: end;
      align-items: flex-end; }
    .encabezado #texto h1 {
      display: none; }
    .encabezado #texto h2 {
      font-weight: 400;
      font-size: 20px; }
  .redes_sociales_header a {
    padding: 2px; }
    .redes_sociales_header a i {
      width: 60px;
      height: 60px; }
  /* Navegador */
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 3px; }
  /* Formulario */
  .formulario_contacto {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around; }
    .formulario_contacto #mensaje {
      width: 400px;
      height: 400px;
      margin: 10px; }
    .formulario_contacto #titulo_contacto {
      font-size: 18px;
      font-weight: 300; }
    .formulario_contacto #contactos h5 {
      color: black; }
    .formulario_contacto #contactos p {
      color: black; }
  main .miviva {
    margin-bottom: 25px;
    width: 95%; }
    main .miviva section .mensaje h2 {
      font-size: 45px; }
    main .miviva section .mensaje p {
      font-size: 25px;
      font-weight: 400; }
  main .cv_nosotros {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 5px; }
    main .cv_nosotros .ana, main .cv_nosotros .mario {
      max-width: 45%;
      margin-left: 4px; }
      main .cv_nosotros .ana .cv, main .cv_nosotros .mario .cv {
        align-items: center; }
        main .cv_nosotros .ana .cv h3, main .cv_nosotros .mario .cv h3 {
          font-size: 25px; }
  /* Index */
  .grillasindex {
    grid-template-areas: "header header  " "nav nav" "principal tabla " "servicio tabla" "noticias tabla" "footer footer";
    grid-template-columns: 70% 30%; }
  .principal {
    max-width: 760px;
    padding: 6px;
    margin: 6px; }
  .contenedor_servicios .menu_servicios_index h4 {
    font-size: 20px; }
  .contenedor_servicios .menu_detalle_servicios_index .detalle_servicios_index {
    max-width: 550px; }
  .not_index {
    display: grid;
    grid-template-areas: "titulo titulo" "noticias noticias"; }
    .not_index .titular {
      grid-area: titulo; }
    .not_index .noticia_grid {
      grid-area: noticias;
      display: flex;
      flex-direction: row;
      height: auto; }
      .not_index .noticia_grid .secundario {
        margin: 3px;
        background-size: cover;
        max-width: 1440px;
        width: 95%;
        height: 250px;
        overflow: hidden;
        background-image: url(../imagenes/elon.jpg); }
        .not_index .noticia_grid .secundario .content_index {
          position: relative;
          top: 190px;
          padding: 10px;
          height: 97px;
          background-color: white;
          transition-property: initial;
          transition-duration: 1s; }
          .not_index .noticia_grid .secundario .content_index .autor {
            font-size: 8px;
            padding: 3px;
            margin: 8px;
            justify-items: left; }
          .not_index .noticia_grid .secundario .content_index .title {
            font-family: sans-serif;
            font-weight: 300;
            margin-top: 10px;
            font-size: 13px; }
          .not_index .noticia_grid .secundario .content_index .text {
            font-size: 10px;
            margin: 0px;
            color: black; }
          .not_index .noticia_grid .secundario .content_index .button_index {
            display: flex;
            justify-content: right;
            padding: 2px;
            margin: 2px;
            font-size: 10px;
            text-decoration: underline;
            list-style: none;
            color: red; }
      .not_index .noticia_grid .secundario2 {
        margin: 3px;
        background-size: cover;
        max-width: 1440px;
        width: 95%;
        height: 250px;
        overflow: hidden;
        background-image: url(../imagenes/Nuestros-servicios.jpg); }
        .not_index .noticia_grid .secundario2 .content_index {
          position: relative;
          top: 190px;
          padding: 10px;
          height: 97px;
          background-color: white;
          transition-property: initial;
          transition-duration: 1s; }
          .not_index .noticia_grid .secundario2 .content_index .autor {
            font-size: 8px;
            padding: 3px;
            margin: 8px;
            justify-items: left; }
          .not_index .noticia_grid .secundario2 .content_index .title {
            font-family: sans-serif;
            font-weight: 300;
            margin-top: 10px;
            font-size: 13px; }
          .not_index .noticia_grid .secundario2 .content_index .text {
            font-size: 10px;
            margin: 0px;
            color: black; }
          .not_index .noticia_grid .secundario2 .content_index .button_index {
            display: flex;
            justify-content: right;
            padding: 2px;
            margin: 2px;
            font-size: 10px;
            text-decoration: underline;
            list-style: none;
            color: red; }
  .tablas {
    grid-area: tabla; }
    .tablas #tabla {
      table-layout: fixed;
      table-layout: fixed;
      border-collapse: collapse;
      background-color: white;
      display: block;
      width: 95%;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 5px; }
      .tablas #tabla thead th:nth-child(1) {
        width: 105px; }
      .tablas #tabla thead th:nth-child(2) {
        width: 90px; }
      .tablas #tabla thead th:nth-child(3) {
        width: 90px; }
      .tablas #tabla tbody tr:nth-child(odd) {
        background-color: #b4cbe6; }
      .tablas #tabla tbody tr:nth-child(even) {
        background-color: beige; }
      .tablas #tabla thead tr {
        background-color: whitesmoke; }
      .tablas #tabla #titulo_tabla {
        display: flex;
        justify-content: center; }
      .tablas #tabla th {
        padding: 3px; }
      .tablas #tabla td {
        padding: 3px; }
    .tablas #tabla_1 {
      visibility: visible;
      table-layout: fixed;
      border-collapse: collapse;
      background-color: white;
      display: block;
      width: 95%;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 5px; }
      .tablas #tabla_1 thead th:nth-child(1) {
        width: 105px; }
      .tablas #tabla_1 thead th:nth-child(2) {
        width: 90px; }
      .tablas #tabla_1 thead th:nth-child(3) {
        width: 90px; }
      .tablas #tabla_1 tbody tr:nth-child(odd) {
        background-color: #b4cbe6; }
      .tablas #tabla_1 tbody tr:nth-child(even) {
        background-color: beige; }
      .tablas #tabla_1 thead tr {
        background-color: whitesmoke; }
      .tablas #tabla_1 #titulo_tabla {
        display: flex;
        justify-content: center; }
      .tablas #tabla_1 th {
        padding: 3px; }
      .tablas #tabla_1 td {
        padding: 3px; }
    .tablas #tabla_2 {
      visibility: visible;
      table-layout: fixed;
      border-collapse: collapse;
      background-color: white;
      display: block;
      width: 95%;
      margin-top: 40px;
      margin-right: 10px;
      margin-left: 5px; }
      .tablas #tabla_2 thead th:nth-child(1) {
        width: 105px; }
      .tablas #tabla_2 thead th:nth-child(2) {
        width: 90px; }
      .tablas #tabla_2 thead th:nth-child(3) {
        width: 90px; }
      .tablas #tabla_2 tbody tr:nth-child(odd) {
        background-color: #b4cbe6; }
      .tablas #tabla_2 tbody tr:nth-child(even) {
        background-color: beige; }
      .tablas #tabla_2 thead tr {
        background-color: whitesmoke; }
      .tablas #tabla_2 #titulo_tabla {
        display: flex;
        justify-content: center; }
      .tablas #tabla_2 th {
        padding: 3px; }
      .tablas #tabla_2 td {
        padding: 3px; }
    .tablas .link_interes {
      display: flex;
      flex-direction: column;
      margin: 2px;
      padding: 3px;
      align-items: center; }
      .tablas .link_interes p {
        font-size: 25px;
        font-weight: 400;
        text-decoration: underline;
        font-family: 'Courier New', Courier, monospace; }
      .tablas .link_interes div {
        margin: 2px; } }
