footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: $background_footer;
    max-width: max-content;
} 

#nosotros{
    color: black;
    width: 250px;
    padding: 5px;
    margin: 5px;
    
       #informacion{
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
            p{
        

            }
    
         }
}

#boton{
    position: relative;
    left: 30%;
    background-color: darkgrey;
    border-radius: 50%;
    padding: 20px;
        a{
            list-style: none;
            text-decoration: none;
            color: white;
            justify-content: center;
        }
}

.enlaces_redes{
    display: flex;
    flex-direction: row;

        #menu3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            padding: 5px;
            margin: 15px;

            h5{
                margin: 2px;
                font-size: 12px;
            }

            ul{
                padding: 5px;
                margin: 5px;
                li{
                    list-style: none;
                    padding: 5px;
                    margin: 1px;
                    font-size: 10px;
                    &:hover{
                            background: darkgray;
                            
                        }
                    a{
                        color: black;
                        text-decoration: none;

                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
        .redes_sociales{
            @extend #menu3;
            h5{
                margin: 2px;
                font-size: 12px;

            }
            a{
                text-decoration: none;
                list-style: none;
                color: black;
                padding: 2px;
                font-size: 10px;
                margin: 3px;
                i{
                    padding: 5px;
                    margin: 1px;
                    font-size: 12px;
                }
            } 

            }
}

   
#mapa{
    justify-content: center;
    padding: 10px;
    border: 5px;
    margin: 10px;
    width: 90%;
    
}

