
.index{
   background-image: url(../imagenes/pexels-henry-&-co-1939485.jpg); 
}


.grillasindex {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
}

.principal{
    grid-area: principal;
    max-width: 1024px;
    padding: 1px;
    margin: 3px;
    box-sizing: border-box;
        .frases {
                overflow: hidden;
                align-items: center;
                ul{
                    display: flex;
                    padding: 5px;
                    width: 405%;
                    animation: slide 80s infinite alternate ease-in-out;
                    li{
                        list-style: none;
                        margin: 8px;
                        img{
                            object-fit: contain;
                            width: 100%;
                        }
                       
                    }      
                }
            }              
}


@keyframes slide {
    0%  { margin-left: 0%;}
    20% { margin-left: 0%;}

    25% {margin-left: -100%;}
    40% {margin-left: -100%;}

    45% {margin-left: -200%;}
    60% {margin-left: -200%;}

    65% {margin-left: -300%;}
    100% {margin-left: -300%;}
   
}

    
.contenedor_servicios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        .menu_servicios_index{
            h4{
                    display: flex;
                    justify-content: center;
                    font-family: $fuente_servicios_ul;
                    font-size: 35px;
                    margin: 2px;

            }
            #listado_menu_servicios{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                            padding: 15px;
                            margin: 5px;
                            list-style: none;
                        
                            li{
                                position: relative;
                                padding: 10px;

                                #notarial_i{
                                    @include servicios;
                                    background: -webkit-linear-gradient(blue, red);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                }
                                #contable_i{
                                    @include servicios;
                                    background: -webkit-linear-gradient( black, blue);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    left: 60px;
                                }
                                #impuestos_i{
                                    @include servicios;
                                    background: -webkit-linear-gradient( rgba(13, 95, 38, 0.616), blue);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;

                                }
                                #rrhh_i{
                                    @include servicios;
                                    background: -webkit-linear-gradient( black, rgb(145, 143, 20));
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;

                                }
                                #payroll_i{
                                    @include servicios;
                                    background: -webkit-linear-gradient( black, rgb(27, 199, 99),rgb(201, 173, 18));
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                }
                        }
            }
        }    
        .detalle_servicios_index{
            list-style: none;
            margin: 5px;
            max-width: 95%;
            height: 700px;
            padding: 2px;            
            width: 100%;
                    li{
                        position: absolute;
                        opacity: 0 ;
                        max-width: inherit;
                        max-height: inherit;
                        background-color: white;
                        transition: opacity 0.5s ;
                        &:first-child{
                            opacity: 1;
                            }
                        &:target{
                            opacity: 1;
                            }
                        h3{
                                font-family: 'Indie Flower', cursive;
                                font-size: 20px;
                                display: flex;
                                text-decoration: underline;
                                justify-content: center;
                                
                                margin: 2px;
                                margin-top: 4px;
                        }
                        p{
                                margin: 5px;
                                font-family: $fuente_servicios;
                        }
    
                        }
        } 
}      
        

#hr_main_servicios{
    @include hr
}


#hr_servicios_noticias{
      @include hr  
    
}

#hr_servicios{
    @include hr
}

.not_index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
        .titular{
            height: 50px;
            .titular_noticias{
            display: flex;
            flex-direction: column;
            align-items: center;
                h4{
                    font-size: 20px;
                    font-family: $fuente_titulos;
                    text-decoration: none;
                    margin: 3px;
                    padding: 3px;
                    }
                hr{
                    @include hr;
                    padding: 1px;
                    margin: 1px;
                }
            }
        }
        .noticia_grid{
            .secundario{
                        @include noticia_index;
                        background-image: url(../imagenes/elon.jpg);
                        
                        }
            .secundario2{
                        @include noticia_index;
                        background-image: url(../imagenes/Nuestros-servicios.jpg);

            } 
        }              
}

.texto_desz:hover .content_index{
    transform: translateY(-40px);
        .content_index{
            transform: translateY(40px);
        }  
}
 

::after.texto_desz:hover .content_index {
    transform: translateY(40px)
}
            
.tabla_cotizacion{
    #tabla{
        display: none;
        
    }
}

 .link_interes{
     display: none;
 }   
    
.tablas{
    display: none;
}