
.grillasindex {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "principal"
    "servicios"
    "noticias_int"
    "footer";
    grid-template-rows: 270px 50px 250px 800px auto auto;
    max-width: 1440px;
    background-image: url(../imagenes/fondobody.jpg); 
}

/* Frases en Index con slide*/
.principal{
    grid-area: principal;
    max-width: 1024px;
    padding: 1px;
    margin: 3px;
    box-sizing: border-box;
        .frases {
                overflow: hidden;
                align-items: center;
                ul{
                    display: flex;
                    padding: 5px;
                    width: 400%;
                    animation: slide 80s infinite alternate ease-in-out;
                    li{
                        list-style: none;
                        margin: 8px;
                        img{
                            object-fit: contain;
                            width: 100%;
                            overflow: hidden;
                        }
                       
                    }      
                }
            }              
}

/* Espaciados de tiempo para slide */

@keyframes slide {
    0%  { margin-left: 0%;}
    20% { margin-left: 0%;}

    25% {margin-left: -100%;}
    40% {margin-left: -100%;}

    45% {margin-left: -200%;}
    60% {margin-left: -200%;}

    65% {margin-left: -300%;}
    100% {margin-left: -300%;}
   
}

    /*Seccion de servicios del estudio */

.contenedor_servicios{
        grid-area: servicios;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        .menu_servicios_index{
            h4{
                    display: flex;
                    justify-content: center;
                    font-family: $fuente_servicios_ul;
                    font-size: 20px;
                    margin: 2px;

            }
            #listado_menu_servicios{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                            padding: 15px;
                            margin: 5px;
                            list-style: none;
                             li{
                                position: relative;
                                padding: 10px;
                                #notarial_i{
                                    @include servicios (25px, 80px, 12px);
                                    background: -webkit-linear-gradient(blue, red);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                }
                                #contable_i{
                                    @include servicios (25px, 80px, 12px);
                                     background: -webkit-linear-gradient( black, blue);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    left: 60px;
                                }
                                #impuestos_i{
                                    @include servicios (25px, 80px, 12px);
                                    background: -webkit-linear-gradient( rgba(13, 95, 38, 0.616), blue);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;

                                }
                                #rrhh_i{
                                    @include servicios (25px, 80px, 12px);
                                    background: -webkit-linear-gradient( black, rgb(145, 143, 20));
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;

                                }
                                #payroll_i{
                                    @include servicios (25px, 80px, 12px);
                                    background: -webkit-linear-gradient( black, rgb(27, 199, 99),rgb(201, 173, 18));
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                }
                        }
            }
        } 
        .menu_detalle_servicios_index{
            
            .detalle_servicios_index{
                list-style: none;
                margin: 5px;
               
                
                padding: 0;      
                
                        li{
                            position: absolute;
                            opacity: 0 ;
                            max-height: fit-content;
                           
                            background-color: white;
                            transition: opacity 0.5s ;
                            width: 95%;
                            height: 80%;
                            box-shadow: 0 0 0 0.3em rgb(80, 80, 122);
                            &:first-child{
                                opacity: 1;
                                }
                            &:target{
                                opacity: 1;
                                }
                            h3{
                                    font-family: 'Indie Flower', cursive;
                                    font-size: 20px;
                                    display: flex;
                                    text-decoration: underline;
                                    justify-content: center;
                                    margin: 2px;
                                    margin-top: 4px;
                            }
                            p{
                                    margin: 5px;
                                    font-family: $fuente_servicios;
                            }
        
                        }
            } 
        }    
}      
        

#hr_main_servicios{
    @include hr
}


#hr_servicios_noticias{
      @include hr  
    
}

#hr_servicios{
    @include hr
}
 /* Seccion Noticias de Interes */
.not_index{
    grid-area: noticias_int;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
        .titular{
            height: 50px;
            .titular_noticias{
            display: flex;
            flex-direction: column;
            align-items: center;
                h4{
                    font-size: 20px;
                    font-family: $fuente_titulos;
                    text-decoration: none;
                    margin: 3px;
                    padding: 3px;
                    }
                hr{
                    @include hr;
                    padding: 1px;
                    margin: 1px;
                }
            }
        }
        .noticia_grid{
            .secundario{
                        @include noticia_index (170px, 300px) ;
                        background-image: url(../imagenes/uber.jpg);
                        .content_index{
                                 @include content_index (112px, 97px);  
                                      
                            .title {
                                @include titulo(10px,300)
                            }
                            .text {
                                     @include texto_noticia(13px)
                            }
            
                            .button_index{
                                 @include boton_leer_mas
                            }
                        }
                        
            }
            .secundario2{
                        @include noticia_index(170px,300px);
                        background-image: url(../imagenes/Nuestros-servicios.jpg);
                        .content_index{
                                @include content_index (118px, 97px);  
                           
                            .title {
                                @include titulo(10px,300)
                            }
                            .text {
                                     @include texto_noticia(13px)
                            }
            
                            .button_index{
                                 @include boton_leer_mas
                            }
                        } 
            }
        } 
    }              

    /* Efecto Hoover para las noticias */
    
.texto_desz:hover .content_index{
    transform: translateY(-40px);
        .content_index{
            transform: translateY(40px);
        }  
}
 

::after.texto_desz:hover .content_index {
    transform: translateY(40px)
}
     
/* Tablas se anula para versiones en celulares */

.tabla_cotizacion{
    #tabla{
        display: none;
        
    }
}

 .link_interes{
     display: none;
 }   
    
.tablas{
    display: none;
}