@media screen and (min-width: 375px){
    header{
        max-width: 375px;
    }
  
    nav{
        
        max-width: 375px;
    }

    aside{
        max-width: 375px;
            
    }    

    .grillanosotros {
        max-width: 375px;
    }

    .grillanoticias {
        max-width: 375px;
    }

    #mensaje{
        width: 355px;
    }
    .grillacontacto{
        max-width: 375px;
    }

    footer{
        max-width: 375px;
    }


    .menu_noticias{
        display: none;
    
    }

    .grillasindex {
     
        max-width: 375px;
    }
    
    .principal{
        max-width: 375px;
       
    }

}



@media screen and (min-width: 425px){
  
    header{
        max-width: 425px;
    }
  
    nav{
        
        max-width: 425px;
    }

    aside{
        max-width: 425px;
            
    }    

    .grillanosotros {
       
        max-width: 425px;
    }

    .grillanoticias {
        max-width: 425px;
    }

    .grillacontacto{
        max-width: 425px;
    }

    .grillasindex{
        max-width: 425px;
    }

    .principal{
        max-width: 425px;
    }   
    /* Noticias */
    .cuerpo_noticias{
            margin: 2px;
            padding: 2px;
        
        
        .informe_texto{
            padding: 3px;
            font-size: 8px;    
            font-weight: 100;
     
        }
        
        #detalle_liq{
            padding: 15px;
            }
    }

    /* formulario */
            
        #mensaje{
            width: 400px;
           
        }
        
        #titulo_contacto{
            font-size: 18px;
            font-weight: 300;
            color:whITE;
            margin: 0;    

    }
        #contactos{
            padding: 15px;

                p {
                    font-size: 16px;
                    font-weight: 200;
                    color: white;
                }
    } 

    /* footer */

    footer{
        
        display: inline-block;
        max-width: 425px;
    }
} 
    
@media screen and (min-width: 425px){

    /* Nosotros */
   
    #not_1{
       max-width: 425px;
        .card2 {
           
            .data_foto{
                max-width: 425px;
                max-height: 300px;
              
               }
            .data{
                max-width: 425px;
            }

            }
       
        }

}
 


    
@media screen and (min-width: 768px) {

    .grillacontacto{
        max-width: 768px;
    }
    .grillanosotros {
        max-width: 768px;
    }

   
    .grillaservicios{
        max-width: 768px;
    }

    footer{
        max-width: max-content;
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
                h5{
                    font-size: 12px;
                }
            }
            #mapa{
                width: 80%;
            }
        }
    }
    .encabezado{
        max-width: 768px;
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 110%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    
    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

    /* Navegador */
        
    nav{
        max-width: 100%;
    }

    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;

            /*Oculta el checkbox */
            input[type=checkbox]{
                display: none;
            }

           
    }

    /* Formulario */
            .formulario_contacto{
                display: flex;
                flex-direction: row;
                gap: 2px;
                justify-content: space-around;
                    #mensaje{
                width: 300px;
                height: 200px;
                margin: 10px;
                }
             
                #titulo_contacto{
                font-size: 18px;
                font-weight: 300;
                  }
                #contactos{
                    h5{
                        color: black;
                     }
                    p{
                        color: black;
                    }
                    }
                    

            
            }
            
            

    .show-menu {
            display:none;
        }

        /*Nosotros*/
 
        .miviva{
            margin-bottom: 25px;
            section{
                  .mensaje{
                        h2{
                            font-size: 45px;
                            font-weight: 500;
                          
                        }
                        p{
                            font-size: 25px;
                            font-weight: 400;
                        }
        
                }
            }
        
        }
            .cv_nosotros{
                flex-direction: row;
                .ana{
                    
                    max-width: 50%;
                        
                }
            
                .mario{
                    
                    max-width: 50%;
                        
                }
            
                .cv{
                                      
                    align-items: center;
                        h3{
                            font-size: 20px;
                            font-weight: 500;
                            
                    }
                        }
            
                    
            }

    .grillanoticias {
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside not_1"
        "aside not_1"
        "footer footer";
        grid-template-columns: 30% auto;
        max-width: 768px;
    }
        
    aside{
        max-width: 95%;
        margin: 5px;
        .menu_noticias{
           display: flex;
           flex-direction: column;
           position: sticky;

            #titulo_aside{
                left: 5%;
           }
            #listado_noticias{
                flex-direction: column;

            }        

        }
    }

    #not_1{
       
    .card2{
    
       
        .data_foto{
                    display: flex;
                    justify-content: center;
                    padding: 0px;
  
                img{
                        object-fit: contain;
                        max-width: 100%;
                        max-height: 100%;
                }

                }
       
    }
}
    .data {
        
          max-width: 95%;
           
            }

    
    .grillasindex {
                
                max-width: 768px;
            }
            
    .principal{
                max-width: 768px;
                    
            }

    .not_index{
            display: flex;          
            justify-content: space-around;
            .noticia1_index{
     
                        margin: 3px;
                        padding: 3px;
                .data_foto_index{
                            display: flex;
                            justify-content: center;
                            padding: 0px;
                            max-width: 320px;
                            max-height: 180px;
                            
                        img{
                                object-fit: contain;
                                max-width: 320px;
                                max-height: 100%;
                        }
            
                    }
                            
                            
                }
                .data_index{
                    display: flex;
                    flex-direction: column;
                    
                    padding: 0;
                    background-color: white; 
                    width: 320px;
                    
                        .content_index{
                                height: 250px ;
                                color: black;
                                padding: 10px;

                            .button_index{
                                
                                text-decoration: none;
                                list-style: none;
                                color: black;
                                

                            }
                             
                        }
            
                }
            

    }
}
            
        
@media screen and (min-width: 1024px) {

    .grillacontacto{
        max-width: 1024px;
    }
    .grillanosotros {
        max-width: 1024px;
    }

    .grillanoticias {
        max-width: 1024px;
    }
    
    
    aside{
        max-width: 95%;
        margin: 5px;
        .menu_noticias{
           display: flex;
           flex-direction: column;
           position: sticky;

            #titulo_aside{
                left: 5%;
           }
            #listado_noticias{
                flex-direction: column;

            }        

        }
    }

        
    #not_1{
       max-width: 600px;
        .card2{
            max-width: 600px;
            .data_foto{
                        max-width: 600px;
                        max-height: fit-content;
    
                    img{
                            object-fit: contain;
                            max-width: 100%;
                            max-height: 100%;
                        }

                    }
 
            .data {
                max-width: 600px;
     
                }
        }
    }

    footer{
        max-width: 1024px;
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
                h5{
                    font-size: 12px;
                }
            }
            #mapa{
                width: 100%;
            }
    }
}
    .encabezado{
        max-width: 1024px;
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 100%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    
    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

       /* Navegador */
        
    nav{
        max-width: 100%;
    }

    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;

            /*Oculta el checkbox */
            input[type=checkbox]{
                display: none;
            }

           
        }

    /* Formulario */
            .formulario_contacto{
                display: flex;
                flex-direction: row;
                gap: 2px;
                justify-content: space-around;
                    #mensaje{
                width: 400px;
                height: 400px;
                margin: 10px;
                }
             
                #titulo_contacto{
                font-size: 18px;
                font-weight: 300;
                  }
                #contactos{
                    h5{
                        color: black;
                     }
                    p{
                        color: black;
                    }
                    }
                    

            
             }
            
            

    .show-menu {
            display:none;
        }

       
        
        main{
            
        
            .miviva{
                margin-bottom: 25px;
                width: 95%;
                section{
                    .mensaje{
                        
                            h2{
                                font-size: 45px;
                                font-weight: 500;
                            
                            }
                            p{
                                font-size: 25px;
                                font-weight: 400;
                            }
            
                    }
                }
            
            }

            .cv_nosotros{
                flex-direction: row;
                margin-bottom: 10px;
                .ana{
                    
                    max-width: 50%;
                        
                }
            
                .mario{
                    max-width: 50%; 
                   
                        
                }
            
                .cv{
                                      
                    align-items: center;
                        h3{
                            font-size: 20px;
                            font-weight: 500;
                            
                         }
                }
            
                    
            }
        }

        .grillaservicios{
            max-width: 1024px;
        }

        .grillasindex {
                
            max-width: 1024px;
        }
        
        .principal{
            max-width: 1024px;
                
        }

                

        }



       


    

    

 





















