@media screen and (min-width: 375px){
   
    #mensaje{
        width: 355px;
    }

    .menu_noticias{
        display: none;
    
    }
    .formulario{
        max-width: 425px;
    }
    .grillasindex {
        grid-template-rows: 270px 50px 250px 750px auto auto;
    } 
}


@media screen and (min-width: 425px){
  
   
    /* Noticias */
    .cuerpo_noticias{
            margin: 2px;
            padding: 2px;
        
        
        .informe_texto{
            padding: 3px;
            font-size: 8px;    
            font-weight: 100;
     
        }
        
        #detalle_liq{
            padding: 15px;
            }

        .grillasindex {
                grid-template-rows: 270px 50px 250px 700px auto auto;
        }

    }

    
    /* formulario */
        .formulario{
            .formulario_contacto{
                #formulario_cuerpo{
                     #mensaje{
                                width: 400px;
                                
                            }
                }
            }
            
            #contactos{
                   max-width: 90%; 
                       
                        
            }
        }
    
    

    /* footer */

    .pie{
                display: inline-block;
          }
   
    
       
    .not_index{
        .noticia_grid{
            .secundario{
                @include noticia_index(250px,400px) ;
                
                .content_index{
                         @include content_index (215px, 97px);  
                              
                    .title {
                        @include titulo(15px,400)
                    }
                    .text {
                             @include texto_noticia(14px)
                    }
                }
            }
            .secundario2{
                @include noticia_index(250px,400px) ;
                
                .content_index{
                         @include content_index (193px, 97px);  
                              
                    .title {
                        @include titulo(15px,400)
                    }
                    .text {
                             @include texto_noticia(14px)
                    }
                }
            }
        }
    }

} 
    
    
@media screen and (min-width: 768px) {

            /*Footer */
.pie{
        
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
            }
            
            #mapa{
                width: 80%;
            }
        }
    }

     /* Encabezado */
    .encabezado{
        
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 110%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

    /* Navegador */


    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;

            /*Oculta el checkbox */
            input[type=checkbox]{
                display: none;
            }
           
    }

    /* Formulario */
    .formulario{
        max-width: 768px;
            .formulario_contacto{
                flex-direction: row;
                gap: 2px;
                justify-content: space-around;
              
            }
        }   
           
    .show-menu {
            display:none;
        }

        /*Nosotros*/
    .nosotros{
        max-width: 95%;
        .miviva{
            margin-bottom: 25px;
            section{
                  .mensaje{
                        h2{
                            font-size: 45px;
                            font-weight: 500;
                          
                        }
                        p{
                            font-size: 20px;
                            font-weight: 400;
                        }
        
                }
            }
        }   
        .cv_nosotros{

                flex-direction: row;
                
                    .ana{
                        max-width: 45%;
                        .cv{
                                            
                            align-items: center;
                                h3{
                                    font-size: 20px;
                                    font-weight: 500;
                                } 
                            }
                    }
                   
        }
        
    }    
        /*Novedades*/
    .grillanoticias {
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav "
        "aside not_1"
        "aside not_1 "
        "footer footer ";
        grid-template-columns: 30% auto ;
        
    }
        
    aside{
        grid-area: aside;
        max-width: 95%;
        margin: 5px;
        display: block;
        .menu_noticias{
           display: flex;
           flex-direction: column;
           position: sticky;
           
            #titulo_aside{
                left: 5%;
           }
            #listado_noticias{
                flex-direction: column;
                li{
                transition: 0.25s;
                &:hover{
                    background-color: dimgrey;
                }
                }
            }        

        }
    }

    .not_1{
        grid-area: not_1;
        .card2{
            .data_foto{
                 
                 img{
                    
                   
                }
            }
        }
        .data{
            
            justify-content: center;
            
            content{
               
            }
        }
    }
   
    /* Detalle paguina INDEX */
    .grillasindex{
       
        display: grid;
        grid-template-areas: 
         "header header  "
         "nav nav"
         "principal tabla "
         "servicios servicios"
         "noticias noticias"
         "footer footer";
         grid-template-columns: 60% 40%;
         grid-template-rows: 270px 50px 250px 450px auto auto;
    }
    .contenedor_servicios{
                grid-area: servicios;
                display: grid;
                grid-template-areas: 
                 "menu servicio";
                grid-template-columns: 20% auto;
                
               
              .menu_servicios_index{
                 grid-area: menu;
                 padding: 2px;
                 display: flex;
                 flex-direction: column;
                   h4{
                         margin-bottom: 5px;
                         text-decoration: underline;
                     }
                #listado_menu_servicios{
                    border-right: solid 3px;
                    border-right-color: rgb(22, 2, 2);
                } 
                    
                }
 
            .menu_detalle_servicios_index{
                         grid-area: servicio;
                         margin: 5px;
                         padding: 2px;            
                     .detalle_servicios_index{ 
                         
                        li{
                            width: 70%;
                            height: 65%;
                            h3{
                               justify-content: space-around;
                                                             
                            }
                           
                        }
                    }     
            } 
        }       
   
        #hr_servicios{
            display: none;
        }

    .not_index{
            grid-area: noticias;
            display: grid;
            grid-template-areas: 
             "titulo titulo"
             "noticias_1 noticias_1";
         .titular{
             grid-area: titulo;
         }
         .noticia_grid{
             grid-area: noticias_1;
             display: flex;
             flex-direction: row;    
             justify-content: space-around;
           
                .secundario{
                        @include noticia_index(250px,370px);
                            .content_index{
                                @include content_index (180px, 97px);  
                                background-size:contain;   
                                .title {
                                    @include titulo(15px,400)
                                }
                                .text {
                                        @include texto_noticia(14px)
                                }
                            } 
                        
                }            
                           
                .secundario2{
                        @include noticia_index(250px,370px);
                            .content_index{
                                @include content_index (180px, 97px);
                                background-size:contain; 
                                .title {
                                    @include titulo(15px,400)
                                }
                                .text {
                                        @include texto_noticia(14px)
                                }
                       }
                          
                }            
        }
    }

    
    .texto_desz:hover .content_index{
            transform: translateY(-39px);
                .content_index{
                    transform: translateY(39px);
                }  
    }
    
    ::after.texto_desz:hover .content_index {
            transform: translateY(39px)
        }

    .tablas{
            display: block;
            grid-area: tabla;
            #tabla{
                @include tablas;
            }
            #tabla_1{
                display: none;
                visibility: hidden;
            }
            #tabla_2{
                display: none ;
                visibility: hidden;


            }            
    
    }
}
          
        
@media screen and (min-width: 1024px) {

    .grillanoticias{
        grid-template-columns: 30% auto;
        
    }
       
   
    .not_1{
       
        .card2{
            display: flex;
            flex-direction: row;
            .data_foto{
                  max-width: 45%;      
                         
                   
                    }
 
            .data{
                
                max-width: 45%;
                background-color: white;
                .content{
                    justify-items: end;
                    justify-content: space-around;
                    align-items: flex-end;
                    
                    .button{
                       position: relative;
                       bottom: 0%;
                        
                    }
                }
            }
        }
    }

    .pie{
        
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
                h5{
                    font-size: 12px;
                }
            }
            #mapa{
                width: 100%;
            }
    }
}
    .encabezado{
        
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 100%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    
    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

       /* Navegador */
        
    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;
 
        }

    /* Formulario */
                
              .formulario{
                max-width: 1440px;
                    .formulario_contacto{
                        flex-direction: row;
                        gap: 2px;
                        justify-content: space-around;
                      
                    }
                }   

    
    .nosotros{
        .miviva{
                margin-bottom: 25px;
                width: 95%;
                section{
                    .mensaje{
                        
                            h2{
                                font-size: 45px;
                                
                            }
                            p{
                                font-size: 25px;
                                font-weight: 400;
                            }
            
                    }
                }
            
        }

        .cv_nosotros{
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 10px;
                margin-left: 5px;
                .ana{
                    max-width: 45%;
                    margin-left: 4px;
                    .cv{
                                        
                        align-items: center;
                            h3{
                                font-size: 25px;
                                
                            }  
                        
                    }
                }
                
            
                
        }            
                    
        
    }
                            /* Index */
    .grillasindex{
                   
            grid-template-areas: 
             "header header  "
             "nav nav"
             "principal tabla "
             "servicios tabla"
             "noticias tabla"
             "footer footer";
            grid-template-columns: 70% 30%; 
            grid-template-rows: 270px 50px 380px 350px auto auto;
        }
        .principal{
            max-width: 760px;
            padding: 6px;
            margin: 6px;
        }

        .contenedor_servicios{
 
                 .menu_servicios_index{
                                     
                         h4{
                            font-size: 20px;
                           }
                }
     
                .menu_detalle_servicios_index{
                    .detalle_servicios_index{ 
                             li{
                                 width: 50%;
                                 height: 77%;
                             }
                                                        
                        }     
                } 
            }       


        .not_index{
               display: grid;
               grid-template-areas: 
                "titulo titulo"
                "noticias noticias";
            .titular{
                grid-area: titulo;
            }
            .noticia_grid{
                grid-area: noticias;
                height: auto;
                justify-content: space-around;
                    .secundario{
                        @include noticia_index(250px,370px);
                            .content_index{
                                @include content_index (197px, 97px);  
                                background-size:contain;   
                                .title {
                                    @include titulo(15px,400)
                                }
                                .text {
                                        @include texto_noticia(14px)
                                }
                            } 
                        
                }            
                        
                .secundario2{
                        @include noticia_index(250px,370px);
                            .content_index{
                                @include content_index (197px, 97px);
                                background-size:contain; 
                                .title {
                                    @include titulo(15px,400)
                                }
                                .text {
                                        @include texto_noticia(14px)
                                }
                    }
                        
                }     
                       
            }  
    }   

    .tablas{
            grid-area: tabla;
        #tabla{
                
        }      
        #tabla_1{
                visibility: visible;
                
                @include tablas;
                width: 90%;
        }
        #tabla_2{
                visibility: visible;
                
                @include tablas;
        } 
        .link_interes{
               p{
                   font-size: 25px;
                   font-weight: 400;
                   text-decoration: underline;
                   font-family: 'Courier New', Courier, monospace;
               }
               display: flex;
               flex-direction: column;
               margin: 2px;
               padding: 3px;
               align-items: center;
                              
               div{
                   margin: 2px;
               }
        } 
          
            
    }

    .texto_desz:hover .content_index{
        transform: translateY(-49px);
            .content_index{
                transform: translateY(49px);
            }  
}

::after.texto_desz:hover .content_index {
        transform: translateY(49px)
    }
      
}

         
         
         
        





    



       


    

    

 





















