@media screen and (min-width: 375px){
    
    aside{
        max-width: 375px;
            
    }    


    .grillanoticias {
        max-width: 375px;
    }

    #mensaje{
        width: 355px;
    }
    .grillacontacto{
        max-width: 375px;
    }

    .menu_noticias{
        display: none;
    
    }


}



@media screen and (min-width: 425px){
  
    aside{
        max-width: 425px;
            
    }    

    

    .grillanoticias {
        max-width: 425px;
    }

    .grillacontacto{
        max-width: 425px;
    }

    
    /* Noticias */
    .cuerpo_noticias{
            margin: 2px;
            padding: 2px;
        
        
        .informe_texto{
            padding: 3px;
            font-size: 8px;    
            font-weight: 100;
     
        }
        
        #detalle_liq{
            padding: 15px;
            }
    }

    /* formulario */
            
        #mensaje{
            width: 400px;
           
        }
        
        #titulo_contacto{
            font-size: 18px;
            font-weight: 300;
            color:whITE;
            margin: 0;    

    }
        #contactos{
            padding: 15px;

                p {
                    font-size: 16px;
                    font-weight: 200;
                    color: white;
                }
    } 

    /* footer */

    footer{
                display: inline-block;
          }

    
    
        #not_1{
        max-width: 425px;
            .card2 {
            
                .data_foto{
                    max-width: 425px;
                    max-height: 300px;
                
                }
                .data{
                    max-width: 425px;
                }

                }
        
            }

} 
    
    
@media screen and (min-width: 768px) {

    .grillacontacto{
        max-width: 768px;
    }
   

            /*Footer */
footer{
        
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
            }
            
            #mapa{
                width: 80%;
            }
        }
    }

     /* Encabezado */
    .encabezado{
        
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 110%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    
    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

    /* Navegador */
        
    

    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;

            /*Oculta el checkbox */
            input[type=checkbox]{
                display: none;
            }

           
    }

    /* Formulario */
            .formulario_contacto{
                display: flex;
                flex-direction: row;
                gap: 2px;
                justify-content: space-around;
                #mensaje{
                    width: 300px;
                    height: 200px;
                    margin: 10px;
                }
                #titulo_contacto{
                font-size: 18px;
                font-weight: 300;
                  }
                #contactos{
                    h5{
                        color: black;
                     }
                    p{
                        color: black;
                    }
                    }
            }
            
    .show-menu {
            display:none;
        }

        /*Nosotros*/
    main{
        max-width: 95%;
        .miviva{
            margin-bottom: 25px;
            section{
                  .mensaje{
                        h2{
                            font-size: 45px;
                            font-weight: 500;
                          
                        }
                        p{
                            font-size: 20px;
                            font-weight: 400;
                        }
        
                }
            }
        }   
        .cv_nosotros{

                flex-direction: row;
                
                    .ana{
                        max-width: 45%;
                        .cv{
                                            
                            align-items: center;
                                h3{
                                    font-size: 20px;
                                    font-weight: 500;
                                } 
                            }
                    }
                   
        }
        
    }    

    .grillanoticias {
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside not_1"
        "aside not_1"
        "footer footer";
        grid-template-columns: 30% auto;
        max-width: 768px;
    }
        
    aside{
        max-width: 95%;
        margin: 5px;
        .menu_noticias{
           display: flex;
           flex-direction: column;
           position: sticky;

            #titulo_aside{
                left: 5%;
           }
            #listado_noticias{
                flex-direction: column;

            }        

        }
    }

    #not_1{
       
        .card2{

            .data_foto{
                        display: flex;
                        justify-content: center;
                        padding: 0px;
    
                    img{
                        object-fit: contain;
                        max-width: 100%;
                        max-height: 100%;
                    }

               }
       
        }
    }
    .data {
        
          max-width: 95%;
           
            }

    .grillasindex{
       
        display: grid;
        grid-template-areas: 
         "header header  "
         "nav nav"
         "principal tabla "
         "servicio servicio"
         "noticias noticias"
         "footer footer";
         grid-template-columns: 60% 40%;
    }
    .contenedor_servicios{
                grid-area: servicio;
                display: grid;
                grid-template-areas: 
                 "menu servicio";
                grid-template-columns: 20% auto;
                height: 450px;
                background-color: beige;
              .menu_servicios_index{
                 grid-area: menu;
                 padding: 2px;
                 display: flex;
                 flex-direction: column;
                   h4{
                         margin-bottom: 5px;
                         text-decoration: underline;
                     }
                #listado_menu_servicios{
                    border-right: solid 3px;
                    border-right-color: rgb(22, 2, 2);
                } 
                    
                }
 
            .menu_detalle_servicios_index{
                         grid-area: servicio;
                         margin: 5px;
                         padding: 2px;            
                     .detalle_servicios_index{ 
                         max-width: 500px;
                        li{
                            h3{
                               justify-content: space-around;
                                                             
                            }
                           
                        }
                    }     
            } 
        }       
   
        #hr_servicios{
            display: none;
        }

    .not_index{
            grid-area: noticias;
            display: grid;
            grid-template-areas: 
             "titulo titulo"
             "noticias_1 noticias_1";
         .titular{
             grid-area: titulo;
         }
         .noticia_grid{
             grid-area: noticias_1;
             display: flex;
             flex-direction: row;    
             height: 170px;
           
                .secundario{
                            @include noticia_index768;
                            background-image: url(../imagenes/elon.jpg);
                        
                            
                            }
                .secundario2{
                            @include noticia_index768;
                            background-image: url(../imagenes/Nuestros-servicios.jpg);
                          
                }            
        }
    }
        .texto_desz:hover .content_index{
            transform: translateY(-37px);
                .content_index{
                    transform: translateY(37px);
                }  
    }
    
        ::after.texto_desz:hover .content_index {
            transform: translateY(37px)
        }

    .tablas{
            display: block;
            grid-area: tabla;
            #tabla{
                @include tablas;
            }
            #tabla_1{
                display: none;
                visibility: hidden;
            }
            #tabla_2{
                display: none ;
                visibility: hidden;


            }            
    
    }
}
          
        
@media screen and (min-width: 1024px) {

    .grillacontacto{
        max-width: 1024px;
    }
    

    .grillanoticias {
        max-width: 1024px;
    }
 
    aside{
        max-width: 95%;
        margin: 5px;
        .menu_noticias{
           display: flex;
           flex-direction: column;
           position: sticky;

            #titulo_aside{
                left: 5%;
           }
            #listado_noticias{
                flex-direction: column;

            }        

        }
    }

        
    #not_1{
       max-width: 600px;
        .card2{
            max-width: 600px;
            .data_foto{
                        max-width: 600px;
                        max-height: fit-content;
                    img{
                            object-fit: contain;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
 
            .data {
                max-width: 600px;
     
                }
        }
    }

    footer{
        
        display: flex;
        flex-direction: row;
        #nosotros{
            width: 300px;
            #boton{
                top: 10px;
                  }

        }          
        .enlaces_redes{
            #menu3{
                margin: 5px;
            }
            .redes_sociales{
                margin: 5px;
                h5{
                    font-size: 12px;
                }
            }
            #mapa{
                width: 100%;
            }
    }
}
    .encabezado{
        
        flex-direction: row; 
            #logo{
                #fotologo{
                    width: 100%;
                    object-fit: contain;
                }
            }

            .redes_sociales_header {
                justify-content: end;
                align-items: flex-end;
            
            }
            #texto {
            
                h1{
                    display: none;
                    
                }
                h2{
                    font-weight: 400;
                    font-size: 20px;
                    
                    }  
            }
    }    
    

   .redes_sociales_header {
         a{
            padding: 2px;

            i{
                width: 60px;
                height: 60px;
            }

         }

    }

       /* Navegador */
        
    #menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            margin-left: 0;
            margin-bottom: 3px;
 
        }

    /* Formulario */
            .formulario_contacto{
                display: flex;
                flex-direction: row;
                gap: 2px;
                justify-content: space-around;
                    #mensaje{
                width: 400px;
                height: 400px;
                margin: 10px;
                }
             
                #titulo_contacto{
                font-size: 18px;
                font-weight: 300;
                  }
                #contactos{
                    h5{
                        color: black;
                     }
                    p{
                        color: black;
                    }
                    }
              }
            
   
    
    main{
        .miviva{
                margin-bottom: 25px;
                width: 95%;
                section{
                    .mensaje{
                        
                            h2{
                                font-size: 45px;
                                
                            }
                            p{
                                font-size: 25px;
                                font-weight: 400;
                            }
            
                    }
                }
            
        }

        .cv_nosotros{
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 10px;
                margin-left: 5px;
                .ana{
                    max-width: 45%;
                    margin-left: 4px;
                    .cv{
                                        
                        align-items: center;
                            h3{
                                font-size: 25px;
                                
                            }  
                        
                    }
                }
                
            
                
        }            
                    
        
    }
                            /* Index */
    .grillasindex{
                   
            grid-template-areas: 
             "header header  "
             "nav nav"
             "principal tabla "
             "servicio tabla"
             "noticias tabla"
             "footer footer";
            grid-template-columns: 70% 30%; 
        }
        .principal{
            max-width: 760px;
            padding: 6px;
            margin: 6px;
        }

        .contenedor_servicios{
 
                 .menu_servicios_index{
                                     
                         h4{
                            font-size: 20px;
                           }
                }
     
                .menu_detalle_servicios_index{
                    .detalle_servicios_index{ 
                             max-width: 550px;
                                                        
                        }     
                } 
            }       


        .not_index{
               display: grid;
               grid-template-areas: 
                "titulo titulo"
                "noticias noticias";
            .titular{
                grid-area: titulo;
            }
            .noticia_grid{
                grid-area: noticias;
                display: flex;
                flex-direction: row;
                height: auto;
                    .secundario{
                                @include noticia_index1024;
                                
                                background-image: url(../imagenes/elon.jpg);
                                
                                }
                    .secundario2{
                                @include noticia_index1024;
                                background-image: url(../imagenes/Nuestros-servicios.jpg);
            
                    }  
                       
            }  
    }        
    .tablas{
            grid-area: tabla;
            #tabla{
                table-layout: fixed;
                @include tablas;
            }
            #tabla_1{
                visibility: visible;
                
                @include tablas;

                
            }
            #tabla_2{
                visibility: visible;
                
                @include tablas;

            } 
           .link_interes{
               p{
                   font-size: 25px;
                   font-weight: 400;
                   text-decoration: underline;
                   font-family: 'Courier New', Courier, monospace;
               }
               display: flex;
               flex-direction: column;
               margin: 2px;
               padding: 3px;
               align-items: center;
                  
               
               div{
                   margin: 2px;
               }
           } 
            

               
        
    }










       
}

         
         
         
        





    



       


    

    

 





















