nav{
    grid-area: nav;
    background: $background_nav;
    background-color: #252323;
    background-size: 20px 20px;
    padding: 0px;
    margin: 0px;
    position: sticky;
    top: 0px;
       
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    li{
        &:hover{
            background: darkgray;
        }

        a{
            padding: 10px;
            margin: 2px; 
            color: white;

        }
        }
    }


.navegacion ul, li a {
    list-style: none;
    text-decoration: none;
}

 

/* estilos del estado hover del dropdown
li:hover ul a:hover {
    background: darkgray;
    color: #fff;
}
*/

/* Estilo de .muestra-menu */

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: 
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 60%, transparent 85%, #242424 75%, #242424);
    background-color: #252323;
    background-size: 20px 20px;
    text-align: center;
    padding: 10px 0;
    display: none;
    transition:all 0.5s ease;
}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}