nav{
    grid-area: nav;
    background: $background_nav;
    background-color: #252323;
    background-size: 20px 20px;
    padding: 3px;
    position: static;
    top: 15px;
    max-width: 100%;
    left: 15%;
    
       
}
#menu {
    position: static;
    display: none;
    font-size: 16px;
    padding: 15px;
    margin-left: 30px;
    margin-top: 6px;
        li{
            margin-bottom: 5px;

            a{
                padding: 10px;
                margin: 2px; 
                color: white;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                &:hover{
                    background: none;
                    color: #6ab1c9;
                                  
             }
            }

            }
    }
            

.navegacion ul, li a {
    list-style: none;
    text-decoration: none;
}


.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: $background_nav;
    background-color: #252323;
    background-size: 20px 20px;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition:all 0.5s ease;
    margin-top: 6px;
   
}

input[type=checkbox]{
    display: none;
}


input[type=checkbox]:checked ~ #menu{
    display: block;
}


