
.grillanoticias {
    display: flex;
    flex-direction: column;   
    max-width: 1440px;
    justify-content: center;
    margin: 0px;
    background-image: url(../imagenes/dirty-pattern-paint-room-blockv2.jpg)
}

aside{
    
    display: none;
}

/* Menu de Noticias */

.menu_noticias{
    background-color: rgba(152, 151, 167, 0.24);
    max-width: 100%;
    top: 90px;
    border: 10px;
    #titulo_aside{
        font-size: 20px;
        text-decoration: underline;
        color: black;
        position: relative;
        left: 20%;
    }
    #listado_noticias{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0px;
                li{
                   list-style: none;
                   text-decoration: none;
                   padding: 5px;
                           a{
                              color: black;
                             }

                   }

                }

}


/* Seccion de Noticias */

.not_1{
        display: flex;
        flex-direction: column;
        align-items: center;
    .card2{
        max-width: 95%;
         
        .data_foto{
                        display: flex;
                        justify-content: center;
                        margin: 3px;
                        padding: 3px;
                        
                    img{
                         max-width: 100%;
                                      
                    }
            }
                     
    
        .data {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 3px;
            margin: 3px;
            max-width: 500px;
                       
                .content{
                        
                        color: black;
                        background-color: white;
            
                        .autor {
                            @include autor(10px)
                        }

                        .title {
                            @include titulo(15px,300)
                        }
                        .text  {
                            @include texto_noticia(14px)
                        }

                        .button{
                            @include boton_leer_mas
                        }
            }

        }
    }
}
   





        

 



     







