



.prueba_contenedor{
   display: grid;
   grid-template-areas: 
    "menu servicio";
   grid-template-columns: 20% auto;
    max-width: 768px;
    height: 450px;
    background-color: beige;
}


.prueba_menu_servicios_index{
    grid-area: menu;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border-right: solid 3px;
    border-right-color: rgb(22, 2, 2);
        h4{
            display: flex;
            justify-content: center;
            font-family: $fuente_servicios_ul ;
            font-size: 35px;
            margin-bottom: 5px;
            text-decoration: underline;
        }
    
        #prueba_listado_menu_servicios{
            padding: 15px;
            margin: 5px;
            list-style: none;
           
           
    
            li{
                position: relative;
                padding: 10px;
                
                
                #prueba_notarial_i{
                    @include servicios;
                    background: -webkit-linear-gradient(blue, red);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
                #prueba_contable_i{
                    @include servicios;
                    background: -webkit-linear-gradient( black, blue);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                     left: 60px;
                }
                #prueba_impuestos_i{
                    @include servicios;
                    background: -webkit-linear-gradient( rgba(13, 95, 38, 0.616), blue);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;

                }
                #prueba_rrhh_i{
                    @include servicios;
                    background: -webkit-linear-gradient( black, rgb(145, 143, 20));
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;

                }
                #prueba_payroll_i{
                    @include servicios;
                    background: -webkit-linear-gradient( black, rgb(27, 199, 99),rgb(201, 173, 18));
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }
            }
        }
}

.prueba_menu_detalle_servicios_index{
            grid-area: servicio;
            
            margin: 5px;
           
            padding: 2px;            
        .prueba_detalle_servicios_index{ 
            max-width: 500px;
            list-style: none;
            li{
                position: absolute;
                opacity: 0 ;
                max-width: inherit;
                background-color: white;
                transition: opacity 0.5s ;

               
                &:first-child{
                    opacity: 1;
                }
                &:target{
                    opacity: 1;
                }
                h3{
                    font-family: 'Indie Flower', cursive;
                    font-size: 20px;
                    display: flex;
                    justify-content: space-around;
                    text-decoration: underline;
                    margin: 2px;
                    margin-top: 4px;
                }
                p{
                    margin: 5px;
                    font-family: $fuente_servicios;

                }

            }
} 
}    
       
