$background_nav: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 60%, transparent 85%, #242424 75%, #242424);
$background_footer: linear-gradient(269deg,hsl(215, 14%, 60%),hsl(215, 21%, 52%),hsl(215, 43%, 55%),hsl(215, 45%, 50%),hsl(215, 59%, 64%),hsl(215, 55%, 75%));
$fuente_titulos:Source Serif Pro, serif;
$fuente_servicios: Bai Jamjuree, sons-serif;
$fuente_servicios_ul: Reenie Beanie, cursive;
$fuente_titulos: Merienda, cursive;
$fuente_texto_servicios:DM Sans, sans-serif;

@mixin fondo_movil{
    background-size: 800% 800%;
    -webkit-animation: 15s ease infinite;
    animation: fondo 15s ease infinite;   
    -moz-animation: fondo 15s ease infinite;
    @keyframes fondo{
        0%{background-position: 0% 51%}
        50%{background-position: 100% 50%}
        100%{background-position: 0% 51%}
    }
    
    @-webkit-keyframes fondo{
        0%{background-position: 0% 51%}
        50%{background-position: 100% 50%}
        100%{background-position: 0% 51%}
    }
    
    @-moz-keyframes fondo{
        0%{background-position: 0% 51%}
        50%{background-position: 100% 50%}
        100%{background-position: 0% 51%}
    }
}

@mixin autor($font1){
        font-size: $font1;
        font-family: sans-serif;
        padding: 3px;
        margin: 8px;
        justify-items: left;

@keyframes fondo{
    0%{background-position: 0% 51%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 51%}
}

@-webkit-keyframes fondo{
    0%{background-position: 0% 51%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 51%}
}

@-moz-keyframes fondo{
    0%{background-position: 0% 51%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 51%}
}


}

@mixin titulo($font2, $font-weight){
        font-family: sans-serif;
        font-weight: $font-weight;
        text-align: justify;
        margin-top: 10px;
        font-size: $font2;
        
}

@mixin texto_noticia($font3) {
    font-size: $font3;
    margin: 0px;
    color: black ;
    
}

@mixin boton_leer_mas {
    display: flex;
    justify-content: right;
    padding: 2px;
    margin: 2px;
    font-size: 10px;
    text-decoration:underline ;
    list-style: none;
    color: red;
    position: relative;
    bottom: 0%;
}

@mixin servicios ($fontsize,$width,$altura) {
                color: black;
                text-decoration: none;
                font-family: $fuente_servicios_ul;
                padding: 10px;
                width: $width;
                height: $altura;
                font-size: $fontsize;
}

@mixin hr{
    height: 3px;
    width: 90%;
    background-color: black
}


@mixin noticia_index($height,$width){
    margin: 3px;
    background-size:cover;
    max-width: 1440px;
    width: $width;
    height: $height;
    overflow: hidden;
}


@mixin content_index($top,$height){        
        position: relative;
        top: $top;
        padding: 10px;
        height: $height;
        background-color: white;
        transition-property: initial;
        transition-duration: 1s;
                  
    }         

@mixin tablas {
    table-layout: fixed;
    border-collapse: collapse;
    display: block;
    width: 95%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 5px;
        caption{
            background-color: white;;
        }

    thead th:nth-child(1){
        width: 105px;
    }
    thead th:nth-child(2){
        width: 90px;
    }

    thead th:nth-child(3){
        width: 90px;
    }

    tbody tr:nth-child(odd){
        background-color: rgb(180, 203, 230);
    }
    tbody tr:nth-child(even){
        background-color: beige;
    }
    thead{
        tr{
            background-color: whitesmoke;
        }
    }
    #titulo_tabla{
            display: flex;
            justify-content: center ;
    }
    th{
        padding: 3px;
      }
    td{
        padding: 3px;
    }

}




@mixin hr {
    border: 0; 
    height: 5px; 
    margin-top: 20px;
    background-image: -webkit-linear-gradient(left, #fff, rgb(22, 58, 177), #fff); 
    text-align: center;
    max-width: 90%;
       
    }








body{
    display: flex;
    justify-content: center;
    margin: 1px;
    background-color: rgba(192, 211, 229, 0.849);
}




