@media screen and (max-width : 760px){

    /*Hace que el dropdown links aparescan en linea */
    #menu {
        position: static;
        display: none;
        ul{
           li{
             margin-bottom: 3px;
             width: 90%; 
             }
        }
    }
            
    /*Display '.muestra-menu' link*/
    .show-menu {
        display:block;
    }

    #texto{
        h1{
            font-weight: 200;
            font-size: 22px;
            padding: 10px;

        }
        h2{
            font-weight: 200;
            font-size: 18px;
            padding: 15px;
        
        }
    } 

    #fotologo{
        width: 80%;
        object-fit: contain;
    }

}

@media only screen and (min-width: 760px){
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;         
        }
    #nosotros{
        display: flex;
        flex-direction: column;
        
    }
         
    #informacion{
        justify-content: space-around;
    }
    #mapa{
        justify-content: center;
        padding: 15px;
        border: 5px;
        margin: 10px;
        width: 80%;
    }
    }


    @media only screen and (max-width: 420px){
   
        main{
            margin: 3px;
            padding: 3px;
        }
        
        .informe_texto{
            padding: 6px;
            font-size: 10px;    
            font-weight: 100;
     
        }
        
        #detalle_liq{
       
            padding: 15px;
    
    }
    }

    @media only screen and (min-width: 421px) and (max-width: 760px){
   
        .cuerpo_noticias{
            margin: 5px;
            padding: 5px;

            .informe_texto{
                        padding: 15px;
                        font-size: 18px;    
                        font-weight: 100;
                     }
        }
      
    #detalle_liq{
        padding: 15px;
   
    }
    }  